* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4px;
  grid-area: 1/1/2/3;
}

.logo {
  justify-self: start;
}
.menu ul {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  align-self: center;
}
.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.sidebar {
  background-color: #c50208;
  grid-area: 2/1/4/2;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: #c50208;
  grid-area: 2/2;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
  grid-area: 3/2;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  min-height: 200px;
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4/1/5/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
